@model student


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form name="studentsCreateForm" asp-action="Create">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="name" class="control-label"></label>
        <span asp-validation-for="name" class="text-danger"></span>
        <input asp-for="name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="surname" class="control-label"></label>
        <input asp-for="surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="studentid" class="control-label"></label>
        <span asp-validation-for="studentid" class="text-danger"></span>
        <input asp-for="studentid" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="email" class="control-label"></label>
        <span asp-validation-for="email" class="text-danger"></span>
        <input asp-for="email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="department" class="control-label"></label>
        <select asp-for="department" class="form-control" asp-items="ViewBag.departmentId"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kayıt Et</button>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}